version: '3.9'

services:
  web:
    build:
      context: .
    environment:
      - SECRET_KEY=dreamslab2024
      - DEBUG=True
      - DJANGO_SETTINGS_MODULE=dreams_laboratory.settings
      - TWILIO_ACCOUNT_SID=key
      - TWILIO_AUTH_TOKEN=key
      - TWILIO_VERIFY_SERVICE_SID=key
      - ALLOWED_HOSTS=dreamslab.deepgis.org,localhost,127.0.0.1,192.168.0.186,172.20.0.10
      - VNC_PASSWORD=liftoff
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
      - ./db.sqlite3:/app/db.sqlite3
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/jdas/openuav2:/app/openuav2
      - /mnt/tesseract-store/trike-backup:/mnt/tesseract-store/trike-backup:ro
    ports:
      - "8080:80"
    command: ["bash", "/app/entrypoint.sh"]
    networks:
      dreamslab:
        ipv4_address: 172.20.0.10
    group_add:
      - ${DOCKER_GROUP_ID:-999}

volumes:
  static_volume:
  media_volume:

networks:
  dreamslab:
    external: true