Django>=3.2,<4.0
opencv-python-headless>=4.5.5
matplotlib>=3.5.0
gunicorn>=20.0.4
twilio>=7.15.4
scipy
flask
numpy>=1.19.0
docker==3.3.0
whitenoise>=6.0.0
docker-py>=1.10.6
django-cors-headers>=4.3.1
psutil==6.1.1
