{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/dreams_laboratory/styles.css' %}">
    <style>
    
    </style>
    <title>DREAMS Laboratory ASU</title>
</head>
<body>
    <h1>DREAMS Laboratory</h1>
    <img id="logo" src="https://lh3.googleusercontent.com/pw/ADCreHdq_ZVhL3PV4Kb4nqHFrg_FFk5iv2fPw-8YXk5LfCWLQpBN7YkyrsuWt6mpER-mTGW340r8UnSNUVupXmGjahBYhZb6cty8JLVN1xT3tbgqBt1MEP-wFrLF2yFloFRi7LzF0g8N6fIF2PccI7zsHGc_yA=w737-h721-s-no?authuser=0" alt="DREAMS Lab Logo">
  <p>The Distributed Robotic Exploration and Mapping Systems (DREAMS) Laboratory specializes in the research and development of autonomous robotic systems. These systems are designed for advanced mapping and sampling across diverse environments—terrestrial, aquatic, and extraterrestrial. DREAMS Lab is composed of a multidisciplinary team of experts in engineering and science, passionate about pushing the boundaries of exploration and discovery.</p>
  <p>As part of Arizona State University, the DREAMS Lab is affiliated with the <a href="https://sese.asu.edu">School of Earth and Space Exploration</a>, the <a href="https://gdcs.asu.edu" target="_blank">Center for Global Discovery and Conservation Science</a>, and the DreamScape Discovery Initiative. Located in the heart of innovation at ASU's <a href="https://cfo.asu.edu/ISTB7" target="_blank">Walton Center for Planetary Health (WCPH)</a>, the lab welcomes everyone interested in pioneering research and scholarship.</p>

  <section id="research-areas">
    <h2>Focus Areas</h2>
    <div class="research-areas-container grid-container">
        {% for area in research_areas %}
            <div class="research-area grid-item">
                <h3>{{ area.title }}</h3>
                <p>{{ area.description }}</p>
              <div class="research-projects">
                  <h4>Projects</h4>
                  <ul>
                    {% for project in area.projects.all %}
                    <li>{{ project.title }}
                        <div class="collage-container">
                            {% for photo in project.photo_set.all|slice:":4" %}
                            <img src="{{ photo.photo_url }}" alt="Project Image" style="height: 200px; width: auto;">
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                  </ul>
              </div>
            </div>
        {% endfor %}
    </div>
</section>

  <section id="people">
      <h2>People</h2>
      <div class="people-container grid-container">
          {% for person in people %}
              <div class="person-item grid-item">
                  <p>
                      {{ person.first_name }} {{ person.last_name }}
                      {% if person.role %}
                        , {{ person.role.position }}
                      {% endif %}
                      {% if person.affiliation %}
                          , {{ person.affiliation }}
                      {% endif %}
                  </p>
              </div>
          {% endfor %}
      </div>
  </section>

  <section id="assets">
      <h2>Assets</h2>
      <table class="assets-table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Photo</th>
                  <th>Project</th>
              </tr>
          </thead>
          <tbody style="font-size: 16px;">
              {% for asset in assets %}
              <tr>
                  <td>{{ asset.asset_name }}</td>
                  <td>{{ asset.description }}</td>
                  <td>
                    <img src="{{ asset.photo_set.first.photo_url }}" alt="Asset Image" style="height: 150px;width:auto">
                  <td>{{ asset.project.title }}</td>
              </tr>
              {% empty %}
              <tr>
                  <td colspan="4">No assets found.</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </section>

  <section id="publications">
      <h2>Publications</h2>
      <div class="publications-container grid-container">
          {% for publication in publications %}
          <div class="publication-item grid-item">
              <p>
                  ({{ publication.publication_date|date:"Y" }}).
                  <em>{{ publication.title }}</em>
                  {% if publication.link %}
                  . <a href="{{ publication.link }}" target="_blank">Access</a>
                  {% endif %}
              </p>
          </div>
          {% empty %}
          <p>No publications found.</p>
          {% endfor %}
      </div>
  </section>
</body>
</html>